<center>
<h1>Welcome To The Sneaker Closet!! </h1><br>
<h3>Please choose an option below:</h3><br>
<button onclick="window.location.href = '/signup'">Sign Up</button>
<button onclick="window.location.href = '/login'">Log In</button>
</center>