<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body align="right" style="vertical-align: top;">
<br><br>
<button onclick="window.location.href = '/signup'">Sign Up</button>
<button onclick="window.location.href = '/login'">Log In</button>

<%=yield %>
</body>
</html>