<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<center>
<h3>New Sneaker</h3>
<form action="/new" method="POST">
	<input type="text" name="brand" placeholder="Brand:" required><br><br>
    <input type="text" name="model" placeholder="Model:" required><br><br>
	<input type="text" name="color" placeholder="Color:" required><br><br>
    <input type="size" name="size" placeholder="Size:" required><br><br>
	<input type="submit" value="Add Sneaker">
</form><br>
<a href=<%="/users/#{current_user.id}"%>><button> Sneaker List </button></a>
</center>
	
</body>
</html>