<center>
<h1> Sneaker Info </h1><br><br>
<h1> <%="#{@sneaker.brand.split.map(&:capitalize).join(' ')}, #{@sneaker.model.split.map(&:capitalize).join(' ')}"%><br>
<%= "#{@sneaker.color.split.map(&:capitalize).join(' ')} #{@sneaker.size} "%><br>
</h1>
<a href=<%="/users/#{current_user.id}"%>><button> Sneaker List </button></a><br><br>
<a href=<%="/users/#{current_user.id}/sneakers/#{@sneaker.id}/delete"%>><button>Delete Sneaker </button></a>


</center>